{% extends 'library_app/base.html' %}
{% load bootstrap5 %}

{% block title %}Login - Library Management System{% endblock %}
{% block icon %}box-arrow-in-right{% endblock %}
{% block page_title %}Login{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Login</li>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white text-center">
                <h4 class="mb-0"><i class="bi bi-book"></i> Library System</h4>
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    
                    {% bootstrap_form form %}
                    
                    <button type="submit" class="btn btn-primary w-100 mb-3">
                        <i class="bi bi-box-arrow-in-right"></i> Login
                    </button>
                    
                    <div class="text-center">
                        <a href="{% url 'register' %}" class="text-decoration-none">
                            Don't have an account? Register here
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}